<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About GeoBoost2</title>
    <meta name="author" content="ZooPhy-Lab">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.7/css/bootstrap-dialog.min.css">
    <link rel="stylesheet" href="stylesheets/app.css">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
          <div class="navbar-header"></div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!-- <li><img id="main-logo" class="img-rounded img-responsive" src="images/favicon.png"/></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-center">
              <li><h3>About GeoBoost2</h3></li>
            </ul>
          </div>
      </div>
    </nav>
  </head>
  <body>
    <div ng-controller="aboutController" id="about" class="container">
      <div class="row">
        <!-- <h3>GeoBoost2</h3> -->
        <h4>GeoBoost2 is a public health informatics application for finding the location of infected hosts for the purposes of phylogeography and epidemiology. 
            It uses state-of-the-art natural language processing (NLP) methods to extract and disambiguate geographical locations from scientific articles.
        </h4>
      </div>
      <div class="row">
        <h3>What kind of inputs does it accept?</h3>
        <ul>
          <li><u>GenBank Accession IDs</u> : Given a list of GenBank Accession IDs, GeoBoost2 extracts the location information from the GenBank record.
                  When the location information is not at a sufficient level, it retrieves the associated PubMed article (when available) and attemps to extract
                  all locations from the said article. (see PubMed IDs below)
          </li>
          <li><u>PubMed IDs</u> : Given a list of PubMed IDs, GeoBoost2 first attemps to retrieve the full-text article from PubMed Central Open Access subset. 
                  When the full text isn't available the abstract is retrieved. GeoBoost2 then extracts all geographical locations and respective contexts from the article's text.
          </li>
          <li><u>Raw Text</u> : Given the raw text from an article, GeoBoost2 extracts all geographical locations from the text.
          </li>
        </ul>
      </div>
      <div class="row">
        <h3>Citations:</h3>
        <ul>
          <li>Arjun Magge, Davy Weissenbacher, Karen O’Connor, Tasnia Tahsin, Graciela Gonzalez-Hernandez, Matthew Scotch, "GeoBoost2: A Natural Language Processing Pipeline for GenBank Metadata Enrichment for Virus Phylogeography."
              Bioinformatics, btaa647, (2020): https://doi.org/10.1093/bioinformatics/btaa647
          </li>
          <li>Arjun Magge, Davy Weissenbacher, Abeed Sarker, Matthew Scotch, and Graciela Gonzalez-Hernandez. "Bi-directional Recurrent Neural Network Models for Geographic Location Extraction in Biomedical Literature."
                in Proceedings of Pacific Symposium of Biocomputing, World Scientific, 2019.
            </li>
            <li>Arjun Magge, Davy Weissenbacher, Abeed Sarker, Matthew Scotch, and Graciela Gonzalez-Hernandez. "Deep neural networks and distant supervision for geographic location mention extraction." 
                in Proceedings of Intelligent Systems for Molecular Biology, Bioinformatics 34, no. 13 (2018): i565-i573.
            </li>
          </ul>
      </div>
  </body>
</html>
