<nav class="navbar navbar-default rounded blueborder" role="navigation">
    <div class="navcontainer">
            <ul class="nav navbar-nav">
                <li><a href="/" class="minpadding"><img id="main-logo" class="img-rounded img-responsive" src="images/favicon.png"/></a></li>
                <li><a href="#" class="nopadding"><h5>Finding Locations of Infected Hosts in GenBank for <br>  Phylogeography and Epidemiology</h5></a></li>
            </ul>
          <!-- <ul class="nav navbar-nav navbar-center">
            <li><a href="#">Center</a></li>
          </ul> -->
          <ul class="nav navbar-nav navbar-right minpadding">
              <li><a href="/aboutgeoboost2" target="_new">About GB2</a></li>
          </ul>
    </div>
</nav>